:root {
    --black: #000000;
    --green-msk: #94c11f;
    --blue-master: #547599;
    --blue-select: #8daee5;
    --red: #fe0303;
    --red-select: #fe03037c;
    --orange: orange;
    --light-grey: #aaa;
    --grey: grey;
}

/* Bordure des tiddlers */
/*.tc-tiddler-frame {
    border-radius: 2px;
    box-shadow: 1px 1px 5px black;
}*/

/* !!! */
.tc-tiddler-frame .tc-tiddler-body p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.tc-tagged-%24%3A%2Ftype%2Fdashboard .tc-tiddler-body p {
    margin-bottom: 0em!important;
}

.tc-tiddler-frame {
    padding: 16px 42px 28px 42px!important;
}

.tc-tiddler-controls {
    margin-top: -31px!important;
    margin-right: -38px!important;
}

.tc-tiddler-title-icon {
    vertical-align: baseline !important; 
}

.bottom-tabs .tc-tab-buttons button {
    border-radius: 0px 0px 0px 0px!important;
}

/*
.tc-titlebar {
    padding-top: 32px!important;
}
*/

.bottom-tabs h1 {
    font-weight: 600;
    font-size: 1.5em;
}
.bottom-tabs h2 {
    font-weight: 600;
    font-size: 1.1em;
}
.bottom-tabs h3 {
    font-weight: 600;
    font-size: 0.85em;
}


.tc-subtitle {
    margin-bottom: 0.5em;
}

/* Bordure du tiddler actif */
.hzone-focus {
    border: thin solid var(--blue-master) !important;
}

/* Liste des entrées du journal */
.mkt-flowing-list-item {
    display: inline-block;
    width: 100%;
    height: 50px;
    border: thin solid var(--black);
    padding: 2px;
    margin: 2px;
    text-align: center;
    border-radius: 6px;
}

/* Titres */
.tc-site-title, .tc-titlebar {
    font-weight: bold;
    text-shadow: 2px 2px 4px #888888;
    border-bottom: 2px solid var(--blue-master); 
    margin-bottom: 0.2em;
    padding-bottom: 5px;
}

/* Pas de soulignement des icones en édition */
.tc-tiddler-edit-title .tc-titlebar {
    border-bottom: none;
}

.tc-titlebar {
    font-size: 1.8em;
}

div.tc-tiddler-edit-title {
    height : 4em;
    background-color: #3f51b5; /* TODO : colour primary */
    color: #fff /* idem */
}

/* Alignement de la grenouille */
h1.tc-site-title img {
    margin-bottom: -8px;
    width: 40px;
}

.tc-page-controls svg {
    fill: rgba(0, 0, 0, 0.25);
}

.tmap-quick-connect {
    color: #000;
}

/* Focus bleu */
.tc-page-controls button:focus {
	outline:none!important;
}

.btn-touch-big:focus,
.btn-touch-big-down:focus,
.tc-btn-invisible:focus, 
.tc-tab-selected:focus {
	outline: none!important;
}

.tc-tab-buttons button {
    outline: none!important;
    font-weight: 600;
}

.tc-mt-tiddler-info {
    /*padding: 14px 42px 14px 42px;*/
    background-color: #e8eaf6;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}


/* TIDDLER TOOLBAR */

.tc-tiddler-view-frame .tc-tiddler-controls text,
.tc-tiddler-view-frame .tc-tiddler-controls svg {
    fill:transparent;
}

/* VISIBLE BUTTONS DEFAULT COLOR*/
.tc-tiddler-view-frame .tc-tiddler-controls:hover svg,
.tc-tiddler-view-frame .tc-tiddler-controls [aria-label~=fermer] svg,
.tc-tiddler-view-frame .tc-tiddler-controls .close-tabs svg,
.tc-tiddler-view-frame .tc-tiddler-controls .tc-image-close-button svg,
.tc-tiddler-view-frame .tc-tiddler-controls .tc-popup svg {
    fill:#cccccc;
}


.tc-tiddler-view-frame .tc-tiddler-controls button[fermer] {
    width: 25px!important;
}

/*.tc-page-controls button[~fermer] {*/
    svg.tc-image-close-button {
        font-size:0.75em!important;
    }

.tc-tiddler-controls .close-tabs {
    bottom: -3em!important;
}

/* BUTTON ANIMATION */

.tc-page-controls svg,
.tc-tiddler-controls svg,
.tc-topbar button svg,
.tc-sidebar-scrollable {
    <<transition "fill 350ms ease-in-out">>
}

/* Favorites */
.tc-btn-invisible svg.tc-image-favorites path {
	stroke: none!important;
	fill: orange!important;
}

.tc-tab-buttons button.tc-tab-selected svg.tc-image-favorites path {
	stroke: none!important;
	fill: orange!important;
}

/* BACK TO TOP */
.back-top {
    float: right;
    clear: both;
    margin: 0 0px 5px 0px;
}
.back-top a{
    color: var(--light-grey);
}

.back-top a:hover{
    color: var(--grey);
}

/*   */
.tc-tiddler-title-icon > svg {
    fill: inherit;
}

/*
.tc-tiddler-title-icon > i {
    vertical-align: text-top;
}*/

.tc-titlebar h2 {
    font-size: 0.8em;
    display: inline;
}

/* Couleur de la poubelle */
.tc-tiddler-controls .tc-image-delete-button {
    fill:#ebb; /*#f22*/
}

/* Bouttons du gestionnaire d'objets */
    body.tc-body .tgc-active-indicator svg {
        fill: black!important;
    }

    .btn-touch-big {
        background: none;
        color: #999999;
        border: none!important;
        font-size: {{$:/config/MagicTabs/btn-touch/font-size/$:/plugins/amp/MagicTabs}};
        top: 0em!important;
    }

    .btn-touch-big-down {
        background: none;
        color: #333333;
        border: none!important;
        font-size: {{$:/config/MagicTabs/btn-touch/font-size/$:/plugins/amp/MagicTabs}};
        top: 0em!important;
    }

    .btn-touch-big:hover {
        color: <<colour btn-courses-hover>>;
    }

    .btn-touch-big,
    .btn-touch-big-down{
        font-size: 24px;
    }

    .btn-touch-big .tc-reveal,
    .btn-touch-big-down .tc-reveal {
        text-align: center;
        display: block;
    }

    .btn-touch-big .tc-reveal .fa {
        font-size: 24px;
    }

/*  */
.tc-tiddler-body {
    clear: both;
    }
    
    .float-right {
    float:right;
    }
    
    /* LINKS */
    
    a{
        -webkit-transition: 200ms;
        -moz-transition: 200ms;
        -o-transition: 200ms;
        transition: 200ms;
    }
    
    a.tc-tiddlylink-shadow {
    color:#567;
    font-weight:normal;
    }
    
    a.tc-tiddlylink-resolves.tc-tiddlylink-shadow {
    font-weight:bold;
    }
    
    .redirected {
    color:#dd1144;
    }
    
    .tb-links dd span:not(:last-child):after{
    content:", ";
    }
    
    .tb-links > span:not(:last-child):after{
    content:", ";
    }
    
    .tb-links > a:not(:last-child):after{
    content:", ";
    }

/* INFO BOXES */

.note {
    padding: 10px;
    background: #fcfcfc;
    border-radius: 15px;
    border: 1px solid #ccc;
    }
    
    .warn,
    .warn a {
    color: #dd1144;
    }
    
    .summary {
    font-style:italic;
    color:var(--grey);
    }
    
    .tb-thumbs{
    width: 160px;
    margin: 0 10px 10px 0;
    }
    
    .grey-svg svg{
    fill: var(--light-grey);
    height:12px !important;
    }
    
    .grey-svg:hover svg{
    fill: var(--grey);
    }

.tc-subtitle {
    color: var(--grey) !important;
    font-weight: 600 !important;
}

.tiddler-datepicker {
    opacity: 0.85;
    transition: opacity .5s ease-in-out;
}